In [30]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import datetime
import itertools

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [57]:
#Альертнативная реализация ф-ции explode
def new_df (df,columns_name):
  newdf=pd.DataFrame(columns=columns_name)
  for i in range (0, len (df)):
    new_series=df.iloc[i][columns_name[1]].split('|')
    for j in range (0, len (new_series)):
      newdf=newdf.append({columns_name[0]:data.iloc[i].imdb_id,columns_name[1]:new_series[j]},ignore_index=True)
  return newdf
#превращение строки с разделителем в массив
def create_list (a):
 return a.split('|')
#получение месяца из строки
def get_month (x):
 return datetime.datetime.strptime(x, '%m/%d/%Y').month 
#получение попарного сочетяния актеров
def duets_creation (cast):
 duets=list(itertools.combinations(cast,2))
 return (duets)


answers = {} # создадим словарь для ответов
#создание дополнительных полей для обработки
data['profit']=data.revenue-data.budget
data['director_list']=data['director'].apply(create_list)
data['genres_list']=data['genres'].apply(create_list)
data['cast_list']=data['cast'].apply(create_list)
data['companies_list']=data['production_companies'].apply(create_list)
data['release_month']=data['release_date'].apply(get_month)
data['name_len']=data['original_title'].apply(len)
data['overview_len']=data['overview'].apply(len)
data['duets_list']=data.cast_list.apply(duets_creation) #пары актеров , снимающихся вместе
display(data)

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,profit,director_list,genres_list,cast_list,companies_list,release_month,name_len,overview_len,duets_list
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,...,2015,1363528810,[Colin Trevorrow],"[Action, Adventure, Science Fiction, Thriller]","[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...","[Universal Studios, Amblin Entertainment, Lege...",6,14,175,"[(Chris Pratt, Bryce Dallas Howard), (Chris Pr..."
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,...,2015,228436354,[George Miller],"[Action, Adventure, Science Fiction, Thriller]","[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...","[Village Roadshow Pictures, Kennedy Miller Pro...",5,18,581,"[(Tom Hardy, Charlize Theron), (Tom Hardy, Hug..."
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,...,2015,185238201,[Robert Schwentke],"[Adventure, Science Fiction, Thriller]","[Shailene Woodley, Theo James, Kate Winslet, A...","[Summit Entertainment, Mandeville Films, Red W...",3,9,139,"[(Shailene Woodley, Theo James), (Shailene Woo..."
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,...,2015,1868178225,[J.J. Abrams],"[Action, Adventure, Science Fiction, Fantasy]","[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...","[Lucasfilm, Truenorth Productions, Bad Robot]",12,28,145,"[(Harrison Ford, Mark Hamill), (Harrison Ford,..."
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,...,2015,1316249360,[James Wan],"[Action, Crime, Thriller]","[Vin Diesel, Paul Walker, Jason Statham, Miche...","[Universal Pictures, Original Film, Media Righ...",4,9,91,"[(Vin Diesel, Paul Walker), (Vin Diesel, Jason..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,...,2000,82299717,[Bryan Singer],"[Adventure, Action, Science Fiction]","[Patrick Stewart, Hugh Jackman, Ian McKellen, ...","[Twentieth Century Fox Film Corporation, Donne...",7,5,174,"[(Patrick Stewart, Hugh Jackman), (Patrick Ste..."
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,...,2000,-8444012,[Uli Edel],"[Horror, Family, Foreign]","[Richard E. Grant, Jonathan Lipnicki, Jim Cart...",[New Line Cinema],10,18,390,"[(Richard E. Grant, Jonathan Lipnicki), (Richa..."
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,...,2000,-40865180,[Des McAnuff],"[Adventure, Animation, Action, Comedy, Family]","[Rene Russo, Jason Alexander, Piper Perabo, Ra...","[Universal Pictures, Capella International, KC...",6,36,337,"[(Rene Russo, Jason Alexander), (Rene Russo, P..."
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,...,2000,-3962091,[Diane Keaton],"[Comedy, Drama]","[Meg Ryan, Diane Keaton, Lisa Kudrow, Walter M...","[Laurence Mark Productions, Columbia Pictures ...",2,10,149,"[(Meg Ryan, Diane Keaton), (Meg Ryan, Lisa Kud..."
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,...,2000,-9782502,[Mary Lambert],[Thriller],"[Susan Ward, Lori Heuring, Matthew Settle, Nat...",[Warner Bros. Pictures],7,12,237,"[(Susan Ward, Lori Heuring), (Susan Ward, Matt..."

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [61]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5.Pirates of the Caribbean: On Stranger Tides (tt1298650) '
#  "+"

In [58]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,profit,director_list,genres_list,cast_list,companies_list,release_month,name_len,overview_len,duets_list
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,...,2011,641683000,[Rob Marshall],"[Adventure, Action, Fantasy]","[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...","[Walt Disney Pictures, Jerry Bruckheimer Films...",5,43,411,"[(Johnny Depp, PenÃ©lope Cruz), (Johnny Depp, ..."

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [65]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2.Gods and Generals (tt0279111)'
#+

In [12]:
data[data.runtime==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [64]:
answers['3'] = '3.Winnie the Pooh (tt1449283) '
#+

In [62]:
data[data.runtime==data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,profit,director_list,genres_list,cast_list,companies_list,release_month,name_len,overview_len,duets_list
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,...,2011,-15540000,"[Stephen Anderson, Don Hall]","[Animation, Family]","[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Walt Disney Pictures, Walt Disney Animation S...",4,15,305,"[(Jim Cummings, Travis Oates), (Jim Cummings, ..."

# 4. Какова средняя длительность фильмов?

In [63]:
answers['4'] = '2.110 '
#+

In [14]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [101]:
answers['5'] = '1.107 '
#+

In [102]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [66]:
answers['6'] = '5.Avatar (tt0499549)'
#+

In [19]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit==data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [105]:
answers['7'] = '5.The Lone Ranger (tt1210819)'
#+

In [20]:
data[data.profit==data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [67]:
answers['8'] = '1.1478'
#+

In [21]:
data[data.profit>0].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [72]:
answers['9'] = '4.The Dark Knight (tt0468569) '
#+

In [71]:
data.query('release_year==2008').query('revenue==revenue.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,profit,director_list,genres_list,cast_list,companies_list,release_month,name_len,overview_len,duets_list
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,...,2008,816921825,[Christopher Nolan],"[Drama, Action, Crime, Thriller]","[Christian Bale, Michael Caine, Heath Ledger, ...","[DC Comics, Legendary Pictures, Warner Bros., ...",7,15,396,"[(Christian Bale, Michael Caine), (Christian B..."

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [76]:
answers['10'] = '5.The Lone Ranger (tt1210819)'
#+

In [75]:

data[(data.release_year>=2012)&(data.release_year<=2014)].query('profit==profit.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,profit,director_list,genres_list,cast_list,companies_list,release_month,name_len,overview_len,duets_list
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,...,2013,-165710090,[Gore Verbinski],"[Action, Adventure, Western]","[Johnny Depp, Armie Hammer, William Fichtner, ...","[Walt Disney Pictures, Jerry Bruckheimer Films...",7,15,386,"[(Johnny Depp, Armie Hammer), (Johnny Depp, Wi..."

# 11. Какого жанра фильмов больше всего?

In [77]:
answers['11'] = '3.Drama'
#+

In [127]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data.explode('genres_list')['genres_list'].value_counts().sort_values(ascending=False)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres_list, dtype: int64

#Вариант 2

In [128]:
dfgenres=new_df(data,['imdb_id','genres']) 
dfgenres['genres'].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [78]:
answers['12'] = '1.Drama'
#+

In [133]:
data[data.profit>0].explode('genres_list')['genres_list'].value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres_list, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [79]:
answers['13'] = '5.Peter Jackson'
#+

In [134]:
data.explode('director_list').groupby('director_list').revenue.sum().sort_values(ascending=False)

director_list
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [81]:
answers['14'] = '3.Robert Rodriguez'
#+

In [135]:

data.explode('genres_list')[data1.genres_list=='Action'].explode('director_list')['director_list'].value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Albert Hughes         1
Asger Leth            1
Des McAnuff           1
Gary Fleder           1
Miguel Sapochnik      1
Name: director_list, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [86]:
answers['15'] = '3.Chris Hemsworth'
#+

In [138]:
data[data.release_year==2012].explode('cast_list').groupby('cast_list').revenue.sum().sort_values(ascending=False)

cast_list
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [89]:
answers['16'] = '3.Matt Damon'
#+

In [88]:
data[data.budget>data.budget.mean()].explode('cast_list')['cast_list'].value_counts()

Matt Damon               18
Adam Sandler             17
Angelina Jolie           16
Eddie Murphy             15
Samuel L. Jackson        15
                         ..
Christopher Eccleston     1
Scott Porter              1
David Zayas               1
Om Puri                   1
Holliday Grainger         1
Name: cast_list, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [90]:
answers['17'] = '2.Action'
#+

In [85]:

data.explode('cast_list').query('cast_list=="Nicolas Cage"').explode('genres_list')['genres_list'].value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
Horror              1
Romance             1
War                 1
Name: genres_list, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [93]:
answers['18'] = '1.K-19: The Widowmaker (tt0267626)'
#+

In [92]:

data.explode('companies_list').query('companies_list=="Paramount Pictures"').query('profit==profit.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,profit,director_list,genres_list,cast_list,companies_list,release_month,name_len,overview_len,duets_list
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,...,2002,-64831034,[Kathryn Bigelow],"[Thriller, Drama, History]","[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",Paramount Pictures,7,20,140,"[(Harrison Ford, Liam Neeson), (Harrison Ford,..."

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [94]:
answers['19'] = '5.2015'
#+

In [166]:

data.groupby('release_year').revenue.sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [95]:
answers['20'] = '1.2014'
#+

In [9]:
companies=data.explode('companies_list')
companies[companies.companies_list.str.contains ('Warner Bros',na=False)].groupby('release_year').profit.sum().sort_values(ascending=False)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [96]:
answers['21'] = '4.Сентябрь'
#+

In [198]:


data.release_month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [108]:
answers['22'] = '2.450'
#+

In [206]:
data[data['release_month'].isin([6,7,8])].count()

imdb_id                 450
budget                  450
revenue                 450
original_title          450
cast                    450
director                450
tagline                 450
overview                450
runtime                 450
genres                  450
production_companies    450
release_date            450
vote_average            450
release_year            450
director_list           450
genres_list             450
profit                  450
cast_list               450
companies_list          450
release_month           450
dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [109]:
answers['23'] = '5.Peter Jackson'
#+

In [209]:
data[data['release_month'].isin([12,1,2])].explode('director_list')['director_list'].value_counts()

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Shawn Levy           4
Adam Shankman        4
                    ..
Peter Spierig        1
Russell Crowe        1
BjÃ¶rn Stein         1
JosÃ© Padilha        1
Griffin Dunne        1
Name: director_list, Length: 358, dtype: int64

'# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [97]:
answers['24'] = '5.Four By Two Productions'
#+

In [13]:
data.explode('companies_list').sort_values(by='name_len',ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_date,vote_average,release_year,profit,director_list,genres_list,cast_list,companies_list,release_month,name_len
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,...,11/2/2006,6.4,2006,243572744,[Larry Charles],[Comedy],"[Sacha Baron Cohen, Ken Davitian, Luenell, Pam...",Four By Two Productions,11,83
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,...,11/2/2006,6.4,2006,243572744,[Larry Charles],[Comedy],"[Sacha Baron Cohen, Ken Davitian, Luenell, Pam...",Twentieth Century Fox Film Corporation,11,83
1314,tt0363771,180000000,748806957,"The Chronicles of Narnia: The Lion, the Witch ...",William Moseley|Anna Popplewell|Skandar Keynes...,Andrew Adamson,Evil Has Reigned For 100 Years...,"Siblings Lucy, Edmund, Susan and Peter step th...",143,Adventure|Family|Fantasy,...,12/7/2005,6.5,2005,568806957,[Andrew Adamson],"[Adventure, Family, Fantasy]","[William Moseley, Anna Popplewell, Skandar Key...",Walden Media,12,62
1314,tt0363771,180000000,748806957,"The Chronicles of Narnia: The Lion, the Witch ...",William Moseley|Anna Popplewell|Skandar Keynes...,Andrew Adamson,Evil Has Reigned For 100 Years...,"Siblings Lucy, Edmund, Susan and Peter step th...",143,Adventure|Family|Fantasy,...,12/7/2005,6.5,2005,568806957,[Andrew Adamson],"[Adventure, Family, Fantasy]","[William Moseley, Anna Popplewell, Skandar Key...",Walt Disney,12,62
219,tt1698641,28000000,100654149,"Alexander and the Terrible, Horrible, No Good,...",Steve Carell|Jennifer Garner|Ed Oxenbould|Dyla...,Miguel Arteta,One day can change everything.,Alexander's day begins with gum stuck in his h...,81,Family|Comedy,...,10/8/2014,6.2,2014,72654149,[Miguel Arteta],"[Family, Comedy]","[Steve Carell, Jennifer Garner, Ed Oxenbould, ...",Walt Disney Pictures,10,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,tt0472033,30000000,48428063,9,Elijah Wood|John C. Reilly|Jennifer Connelly|C...,Shane Acker,When our world ended their mission began.,"When 9 first comes to life, he finds himself i...",79,Action|Adventure|Animation|Science Fiction|Thr...,...,8/19/2009,6.5,2009,18428063,[Shane Acker],"[Action, Adventure, Animation, Science Fiction...","[Elijah Wood, John C. Reilly, Jennifer Connell...",Focus Films,8,1
252,tt0472033,30000000,48428063,9,Elijah Wood|John C. Reilly|Jennifer Connelly|C...,Shane Acker,When our world ended their mission began.,"When 9 first comes to life, he finds himself i...",79,Action|Adventure|Animation|Science Fiction|Thr...,...,8/19/2009,6.5,2009,18428063,[Shane Acker],"[Action, Adventure, Animation, Science Fiction...","[Elijah Wood, John C. Reilly, Jennifer Connell...",Starz Animation,8,1
252,tt0472033,30000000,48428063,9,Elijah Wood|John C. Reilly|Jennifer Connelly|C...,Shane Acker,When our world ended their mission began.,"When 9 first comes to life, he finds himself i...",79,Action|Adventure|Animation|Science Fiction|Thr...,...,8/19/2009,6.5,2009,18428063,[Shane Acker],"[Action, Adventure, Animation, Science Fiction...","[Elijah Wood, John C. Reilly, Jennifer Connell...",Relativity Media,8,1
252,tt0472033,30000000,48428063,9,Elijah Wood|John C. Reilly|Jennifer Connelly|C...,Shane Acker,When our world ended their mission began.,"When 9 first comes to life, he finds himself i...",79,Action|Adventure|Animation|Science Fiction|Thr...,...,8/19/2009,6.5,2009,18428063,[Shane Acker],"[Action, Adventure, Animation, Science Fiction...","[Elijah Wood, John C. Reilly, Jennifer Connell...",Arc Productions,8,1
252,tt0472033,30000000,48428063,9,Elijah Wood|John C. Reilly|Jennifer Connelly|C...,Shane Acker,When our world ended their mission began.,"When 9 first comes to life, he finds himself i...",79,Action|Adventure|Animation|Science Fiction|Thr...,...,8/19/2009,6.5,2009,18428063,[Shane Acker],"[Action, Adventure, Animation, Science Fiction...","[Elijah Wood, John C. Reilly, Jennifer Connell...",Tim Burton Productions,8,1

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [98]:
answers['25'] = '3.Midnight Picture Show'
#+

In [16]:
data.explode('companies_list').groupby('companies_list').overview_len.mean().sort_values(ascending=False)

companies_list
Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
                                          ...
Projection Pictures                        74.0
London Boulevard                           74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0
Name: overview_len, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [99]:
answers['26'] = '1.Inside Out, The Dark Knight, 12 Years a Slave '
#+

In [22]:
data[data.vote_average>data.vote_average.quantile(.99)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,vote_average,release_year,profit,director_list,genres_list,cast_list,companies_list,release_month,name_len,overview_len
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,...,8.0,2015,678708609,[Pete Docter],"[Comedy, Animation, Family]","[Amy Poehler, Phyllis Smith, Richard Kind, Bil...","[Walt Disney Pictures, Pixar Animation Studios...",6,10,638
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,...,8.0,2015,29401758,[Lenny Abrahamson],"[Drama, Thriller]","[Brie Larson, Jacob Tremblay, Joan Allen, Sean...","[Element Pictures, No Trace Camping, A24, Dupe...",10,4,243
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,...,8.0,2014,456752480,[Christopher Nolan],"[Adventure, Drama, Science Fiction]","[Matthew McConaughey, Jessica Chastain, Anne H...","[Paramount Pictures, Legendary Pictures, Warne...",11,12,222
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,...,7.9,2014,603312399,[James Gunn],"[Action, Science Fiction, Adventure]","[Chris Pratt, Zoe Saldana, Dave Bautista, Vin ...","[Marvel Studios, Moving Picture Company (MPC),...",7,23,164
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,...,8.0,2014,219555708,[Morten Tyldum],"[History, Drama, Thriller, War]","[Benedict Cumberbatch, Keira Knightley, Matthe...","[Black Bear Pictures, Bristol Automotive]",11,18,287
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,...,7.9,2014,308330363,[David Fincher],"[Mystery, Thriller, Drama]","[Ben Affleck, Rosamund Pike, Carrie Coon, Neil...","[Twentieth Century Fox Film Corporation, Regen...",10,9,169
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,...,7.9,2014,144600318,[Wes Anderson],"[Comedy, Drama]","[Ralph Fiennes, Tony Revolori, F. Murray Abrah...","[Fox Searchlight Pictures, Scott Rudin Product...",2,24,402
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,...,7.9,2010,665500000,[Christopher Nolan],"[Action, Thriller, Science Fiction, Mystery, A...","[Leonardo DiCaprio, Joseph Gordon-Levitt, Elle...","[Legendary Pictures, Warner Bros., Syncopy]",7,9,280
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,...,8.1,2008,816921825,[Christopher Nolan],"[Drama, Action, Crime, Thriller]","[Christian Bale, Michael Caine, Heath Ledger, ...","[DC Comics, Legendary Pictures, Warner Bros., ...",7,15,396
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,...,7.9,2002,85072577,[Roman Polanski],"[Drama, War]","[Adrien Brody, Thomas Kretschmann, Frank Finla...","[Bac Films, Canal+Polska, Heritage Films, Stud...",9,11,238
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,...,7.9,2003,1024888979,[Peter Jackson],"[Adventure, Fantasy, Action]","[Elijah Wood, Ian McKellen, Viggo Mortensen, L...","[WingNut Films, New Line Cinema]",12,45,254
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,...,7.9,2013,292000694,[Martin Scorsese],"[Crime, Drama, Comedy]","[Leonardo DiCaprio, Jonah Hill, Margot Robbie,...","[Paramount Pictures, Appian Way, EMJAG Product...",12,23,200
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,...,7.9,2013,167000000,[Steve McQueen],"[Drama, History]","[Chiwetel Ejiofor, Michael Fassbender, Lupita ...","[Plan B Entertainment, Regency Enterprises, Ri...",10,16,379
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,...,7.9,2000,30723096,[Christopher Nolan],"[Mystery, Thriller]","[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,...","[Summit Entertainment, Newmarket Capital Group...",10,7,436

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [110]:
answers['27'] = '5.Daniel Radcliffe & Rupert Grint'
#+

In [56]:

data.explode('duets_list')['duets_list'].value_counts()

(Daniel Radcliffe, Rupert Grint)          8
(Daniel Radcliffe, Emma Watson)           8
(Rupert Grint, Emma Watson)               7
(Ben Stiller, Owen Wilson)                6
(Johnny Depp, Helena Bonham Carter)       6
                                         ..
(Dominic Purcell, Jessica Biel)           1
(Michael Jeter, Eddie Deezen)             1
(Don Cheadle, Saul Rubinek)               1
(Elisha Cuthbert, Chad Michael Murray)    1
(Jennifer Garner, Chris Cooper)           1
Name: duets_list, Length: 18121, dtype: int64

# Submission

In [112]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5.Pirates of the Caribbean: On Stranger Tides (tt1298650) ',
 '4': '2.110 ',
 '3': '3.Winnie the Pooh (tt1449283) ',
 '2': '2.Gods and Generals (tt0279111)',
 '6': '5.Avatar (tt0499549)',
 '8': '1.1478',
 '9': '4.The Dark Knight (tt0468569) ',
 '10': '5.The Lone Ranger (tt1210819)',
 '11': '3.Drama',
 '12': '1.Drama',
 '13': '5.Peter Jackson',
 '14': '3.Robert Rodriguez',
 '15': '3.Chris Hemsworth',
 '16': '3.Matt Damon',
 '17': '2.Action',
 '18': '1.K-19: The Widowmaker (tt0267626)',
 '19': '5.2015',
 '20': '1.2014',
 '21': '4.Сентябрь',
 '24': '5.Four By Two Productions',
 '25': '3.Midnight Picture Show',
 '26': '1.Inside Out, The Dark Knight, 12 Years a Slave ',
 '5': '1.107 ',
 '7': '5.The Lone Ranger (tt1210819)',
 '22': '2.450',
 '23': '5.Peter Jackson',
 '27': '5.Daniel Radcliffe & Rupert Grint'}

In [111]:
# и убедиться что ни чего не пропустил)
len(answers)

27